body{
background-color: MidnightBlue;
}


h1{
color: Bisque;
}

h2{
color: Bisque;
}

h3{
color: Bisque;
}

p{
color: Bisque;
}

table{
color:Salmon;
border-style:solid;
}

tr{
color:plum;
border-style:solid;
}

ul{
list-style-type:none;
margin:0;
padding:0;
background-color: Salmon;
}


