body{
background-color: MidnightBlue;
}


h1{
color: Bisque;
}

h2{
color: Bisque;
}

h3{
color: Bisque;
}

p{
color: Bisque;
}

table{
border-style:solid;
}

tr,td,th{
color:white;
border-style:solid;
}


.Kahoot{
    background-color: green;
}

.Figma{
    background-color: Gold;
}

.Khan{
    background-color: ForestGreen;
}

ul{
list-style-type:none;
margin:0;
padding:0;
background-color: Bisque;
}


