body{
background-color: MidnightBlue;
}


h1{
color: Bisque;
}

h2{
color: Bisque;
}

h3{
color: Bisque;
}

p{
color: Bisque;
}

table{
border-style:solid;
}

tr,td{
color:white;
border-style:solid;
}

th{
border-style:solid:
color:white:
}

.Kahoot{
    background-color: green;
}

.Figma{
    background-color: Gold;
}

.Khan{
    background-color: ForestGreen;
}

ul{
list-style-type:none;
margin:0;
padding:0;
background-color: Salmon;
}


