body{
background-color: MidnightBlue;
}


h1{
color: Bisque;
}

h2{
color: Bisque;
}

h3{
color: Bisque;
}

p{
color: Bisque;
}

ul{
list-style-type:none;
margin:0;
padding:0;
background-color: Bisque;
}

li a {
display: block;
color: Black;
}

li a:{
background-color: 
}

img{
width: 200px;
border:5px solid;
}
